.container {
    margin: 50px 0;
    width: 80%;
}

.card{
    margin : 0 1% !important;
}

.active{
    border-top: 10px solid rgba(225,225,0,0.5);
    border-bottom: 10px solid rgba(225,225,0,0.5);
    /* background-color:rgba(255,255,0,0.5); */
}
.confirmed {
    border-top: 10px solid rgba(0,0,255,0.5);
    border-bottom: 10px solid rgba(0,0,255,0.5);
    /* background:rgba(0,0,255,0.5) !important; */
}
.recovered {
    border-top: 10px solid rgba(0,225,0,0.5);
    border-bottom: 10px solid rgba(0,225,0,0.5);
    /* background:rgba(0,225,0,0.5) !important; */
}
.deceased{
    border-top: 10px solid rgba(255,0,0,0.5);
    border-bottom: 10px solid rgba(255,0,0,0.5);
    /* background:rgba(255,0,0,0.5) !important; */
}

.gridwrap{
    flex-wrap: nowrap !important;
}


@media only screen and (max-width:768px){
    .gridwrap{
     flex-wrap:wrap !important;
    }
}

