body {
    background-color:rgb(250,250,250);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

 .imageContainer{
     display: flex;
     justify-content: center;
    
    }
    .imageContainer img{
      margin: 5%;
    }
.image{
    width: 100px;
}    
.rotate{
    animation: rotation 12s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }